/*mobile*/
  body {
    background: white;
  }
  .navbar {
    overflow: hidden;
    background-color: black;
    font-family: "Open Sans";
	text-align:center;
  }
  .navbar a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    overflow: hidden;
    text-align:center;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
 }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  .dropdown-content {
	margin-top:25px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 550px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
   .apps img {
	   width: 100px;
	   height:100px;
	   border:3px red;
	   border-radius:15%;
	   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	   background-color:red;
	   
	   margin-left: 10%;
	   margin-top:35px;
	   margin-bottom:20px;
    }
  .studentinfo {
	  clear:right; 	
	  width:50%;
	  margin-left:50px;
	  background-color:red;
	  border:10px 20px;
	  border-radius:10%;
	  max-width:200px;
	  margin:auto;
	  margin-top: 2rem;
	  padding:10px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  }
  .studentinfo p{
	  font-weight:bold;
	  font-size: 20px;
	  text-align:center;
	  font-family:'Open Sans';
  }
  .studentinfo img {
	width: 40px;
    height: 40px;
	border: solid red 10px;
	border-radius:50%;
	background-color: red;
	margin-left:35%;
  }
  
  .material-symbols-outlined{
	  color:red;
	  font-size:30px;
	  margin-top:30px;
	  margin-left:35px;
  }
  .material-symbols-outlined:hover, .material-symbols-outlined:focus {
	  cursor:pointer;
  }
  .material-symbols-outlined:active{
	  transform: scale(0.96);
  }
  h1{
	  font-size:30px;
	  color:red;
	  width:85%;
	  text-align:center;
	  margin-left:10%;
	  font-family:"Open Sans";
  }

  .AccessIIT{
	  font-size:30px;
	  float:left;
	  
  }
  .navbar{
	  display:inline-flex;
	  width:100%;
  }
  iframe{
	  margin-top:30px;
	  width: 550px;
	  height:350px;
  }

/*This applies from 600px onwards (desktop)*/

@media (min-width: 600px) {
  body {
    background: white;
  }
  .navbar {
    overflow: hidden;
    background-color: black;
    font-family: 'Open Sans';
	text-align:center;
  }
  .navbar a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    overflow: hidden;
    text-align:center;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
 }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  .dropdown-content {
	margin-top:25px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 1500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
   .apps img {
	   width: 150px;
	   height:150px;
	   border:3px red;
	   border-radius:15%;
	   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	   background-color:red;
	   margin-right: 20px;
	   margin-left: 50px;
	   margin-top:35px;
	   margin-bottom:20px;
    }
  .studentinfo {
	  float:left;
	  clear:right; 	
	  width:50%;
	  margin-left:1.5em;
	  background-color:red;
	  border:10px 20px;
	  border-radius:10%;
	  max-width:520px;
	  margin:auto;
	  margin-top: 2rem;
	  padding:10px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  }
  .studentinfo p{
	  font-weight:bold;
	  font-size: 20px;
	  text-align:center;
	  font-family:'Open Sans';
  }
  .studentinfo img {
	width: 200px;
    height: 200px;
	border: solid red 10px;
	border-radius:50%;
	background-color: red;
	margin-left:150px;
  }
  
  .material-symbols-outlined{
	  color:red;
	  font-size:30px;
	  margin-top:30px;
	  margin-left:35px;
  }
  .material-symbols-outlined:hover, .material-symbols-outlined:focus {
	  cursor:pointer;
  }
  .material-symbols-outlined:active{
	  transform: scale(0.96);
  }
  h1{
	  font-size:35px;
	  color:red;
	  width:90%;
	  text-align:center;
	  font-family:'Open Sans';
  }

  .AccessIIT{
	  font-size:30px;
	  float:left;
	  margin-right:5%;
	  
  }
  .navbar{
	  display:inline-flex;
	  width:100%;
  }
  iframe{
	  margin-top:30px;
	  width: 1500px;
	  height:1200px;
  }
}