body {
  background: white;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
img {
  width: 5%;
  height: auto;
}

/*This applies from 600px onwards (desktop)*/
@media (min-width: 600px) {
  body {
    background: white;
  }
  /* Navbar */
  .navbar {
    overflow: hidden;
    background-color: black;
    font-family: Arial;
	text-align:center;
  }

   /* Links inside the navbar */
  .navbar a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* The dropdown container */
  .dropdown {
    overflow: hidden;
    text-align:center;
  }

  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
	
	
 }

  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 1500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }

  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  img {
    margin-top:1em;
	margin-left:1em;
	width: 200px;
    height: auto;
	border: solid red 10px;
	border-radius:50%;
	background:color: red;
  }
  .qview {
	  float:left;
	  border: 10px solid grey;
	  
	  box-shadow:10px 10px #65383A;
	  width:20%;
  }
  .studentinfo {
	  width:50%;
	  margin-left:1.5em;
  }
  .studentinfo p{
	  font-weight:bold;
	  font-size: 20px;
	  margin-left: 1em;
  }
  .material-symbols-outlined{
	  color:red;
	  font-size:30px;
	  margin-top:5px;
  }
  .material-symbols-outlined:hover, .material-symbols-outlined:focus {
	  cursor:pointer;
  }
  .material-symbols-outlined:active{
	  transform: scale(0.96);
  }
  h1{
	  color:red;
  }
}